*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;

}


.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
}

/* HEADER */


.header {
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.logo {
    margin: 15px auto;
}


.navBar {
    display: flex;
    flex-direction: row;
    margin: auto;
    border-bottom: #fff 1px solid;
}

.navLink {
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

.navLink:hover {
    border-bottom: orangered 0.1em solid;
}

.numberInfo {
    margin: auto 0;
}

.number {
    font-size: 18px;
    font-weight: bold;
    color: orangered;
    text-decoration: none;
}

.numberTime {
    font-size: 14px;
    color: dimgray;
}


/* MAIN */

.intro {
    z-index: 0;
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.introInner {
    display: flex;
    flex-direction: column;
    width: 450px;
    font-weight: bold;
}

.intro_title {
    font-size: 30px;
    padding: 150px 0 10px 0;
}

.intro_subtitle {
    font-weight: lighter;
    padding-bottom: 20px;
}


/* AUTO PARK */

.row {
    display: flex;
    flex-direction: row;
}

.autopark {
    padding-top: 15px;
}

.autoparkTitle {
    max-height: 25px;
}

.autoparkInner {
    padding-top: 50px;
}

.autoparkNames {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


/*WHY*/
.why {
    padding-top: 50px;
    width: 100%;
}

.frontViewImg {
    height: 800px;
    margin: auto;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.left {
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    float: left;
}

.rightSide {
    display: flex;
    flex-direction: column;
}

.right {
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    float: right;
}


/* ADVANTAGES */
.advantages {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.advantagesTitle {
    padding: 30px 0;
}

.background {
    z-index: 0;
    height: 520px;
    width: 100%;
    overflow: hidden;
    background-image: url(images/advBackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.adv {
    padding-top: 100px;
    margin: 0 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    max-width: 185px;
}


.advTitle {
    margin-bottom: 10px;
}


/*FAQ*/

.faq {
    padding-top: 15px;
}

.faqInner {
    display: flex;
    flex-direction: column;
    padding: 0 122px;
}

.faqTitle {
    font-size: 21px;
    font-weight: bold;
    color: #FF3D00;
}

.faqText {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.quest {
    padding-top: 30px;
}


/* FOOTER */

.footer {
    width: 100%;
    height: 493px;
    padding-top: 64px;
    display: flex;
    flex-direction: row;
}


.leftSideF {
    float: left;
    background-color: #212529;
}

.rightSideF {
    width: 960px;
    color: #fff;
    background-image: url("images/bcF.png");
    overflow: visible;
    justify-content: center;
}

.rightSideInner {
    padding: 83px 265px 82px 80px;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.fNumber {
    padding-top: 12px;
    text-decoration: none;
    color: #fff;
}

.email {
    padding-top: 12px;
    text-decoration: none;
    color: #fff;
}

.adress {
    padding-top: 12px;
}

.time {
    padding-top: 12px;
}

.ip {
    padding-top: 12px;
}

.inn {
    padding-top: 12px;
}

.ogr {
    padding-top: 12px;
}

.rsTitle {
    font-size: 32px;
    font-weight: 700;
}

.fIcon {
    padding-right: 11px;
}